body{
    background-image: url("img/bg/bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

#title {
    font-size: 100px;
    color: rgba(28, 173, 20, 0.856);
    text-align: center;
    font-weight: 600;
    font-family:'Brush Script MT';
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

#khoa{
    margin-left: 40%;
}